# Copy this file to `.env` and change values to match your requirements

# Bare repository names, not URIs
SOURCE_REPO=source-name
TARGET_REPO=target-name

# You must supply write token for both source and target
SOURCE_WRITE_TOKEN=
TARGET_WRITE_TOKEN=

# Read tokens are optional, but required if your repos are setup to require one
SOURCE_READ_TOKEN=
TARGET_READ_TOKEN=
